In [1]:
import pandas as pd
import requests
import sqlite3
import requests
from datetime import datetime, timedelta

In [6]:
# Replace YOUR_API_KEY with your actual API key
API_KEY = '2A1KXEW361JSTLQW'

# Define a list of 10 companies to get data for
companies = ['AAPL', 'AMZN', 'GOOG', 'F', 'MSFT', 'NFLX', 'NVDA', 'PYPL', 'TSLA', 'V']

# Set the start and end dates for the data retrieval
end_date = datetime.now().strftime('%Y-%m-%d')
start_date = (datetime.now() - timedelta(days=365)).strftime('%Y-%m-%d')

# Initialize a dictionary to store the data for each company
dfbig = {}

# Loop through each company and retrieve its data
for company in companies:
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={company}&apikey={API_KEY}&outputsize=full'
    response = requests.get(url)
    r = requests.get(url)
    data = r.json()
    df = pd.DataFrame.from_dict(data['Time Series (Daily)'], orient='index')
    data[company] = df

KeyError: 'Time Series (Daily)'

In [8]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2023-02-28,93.14,94.69,92.92,94.23,94.23,43959290,0.0000,1.0
2023-02-27,94.28,94.78,93.14,93.76,93.76,47470321,0.0000,1.0
2023-02-24,93.53,94.14,92.3186,93.5,93.5,57053812,0.0000,1.0
2023-02-23,96.12,96.43,93.67,95.82,95.82,48466994,0.0000,1.0
2023-02-22,95.1,97.01,94.8,95.79,95.79,59534094,0.0000,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,64.75,65.5,62.25,64.94,3.247,11091400,0.0000,1.0
1999-11-04,67.19,67.19,61.0,63.06,3.153,16759200,0.0000,1.0
1999-11-03,68.19,68.5,65.0,65.81,3.2905,10772100,0.0000,1.0
1999-11-02,69.75,70.0,65.06,66.44,3.322,13243200,0.0000,1.0
1999-11-01,68.06,71.88,66.31,69.13,3.4565,12824100,0.0000,1.0

In [ ]:
returns = {}
for company, company_data in data.items():
    prices = list(company_data.values())
    returns[company] = (prices[-1] - prices[0]) / prices[0]